.darkBackground {
    background: #222222
}

.lightBackground {
    background: #eeeeee;
}

.imageBackground {
    background-image: url("/media/backgrounds/first-person-medium.jpg");
}

.navLinkGroup ul li a {
    color: #eeeeee
}

.navLinkGroup ul li a:hover {
    color: #aaaaaa;
}

.navLink {
    color: #eeeeee;
    text-decoration: none;
}

.navLink:hover {
    color: #aaaaaa;
    text-decoration: underline;
}

/* Images /////////////////////////////////////////////////////////////*/

.displayRight {
    float: right;
}


.displayLeft {
    float: left;
}

.leftRightPair {
    width: 70%;
    margin:auto;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.leftRightPair::after{
    content: "";
    display: table;
    clear: both;
}

.textBlock{
    display: block;
    width: 40%;
}

/* Full page //////////////////////////////////////////////////////////*/

body {
    margin: 0;
    font-family: arial, sans-serif;
    font-weight: 300;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* Text /////////////////////////////////////////////////////////*/

h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: arial, sans-serif;
    font-size: 30;
    color: #eeeeee;
}

h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

h3 {
    vertical-align: middle;
}

p1 {
    padding: 0 0;
    color: #aaaaaa;
}

p2 {
    display: block;
    margin: auto;
    width: 800px;
}


/* Header ///////////////////////////////////////////////////////////*/

header {
    margin-top: -21px;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

/* Navbar layout /////////////////////////////////////////////////////////////////////////////*/

.navbarLogo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 15px;
    padding-bottom: 15px;

    position: relative;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
}

/* Navbar hover effects /////////////////////////////////////////////////////////////////////*/


nav ul li a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #aaaaaa;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav ul li a:hover::before{
    width: 100%;
}

/* Footer //////////////////////////////////////////////////////////////////////*/

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

footer ul {
    list-style: none;
    display: inline-block;
}


footer a {
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

/*/////////////////////////////////////////////////////////////////////////////////



