@media screen and (max-width: 1000px){
  :root {
    /* --bgcol: #444433; */
    --bgcol: #242526;
    --textcol: #cfccc6;
    --highlight:#d46c04;
    background: var(--bgcol);
    color: var(--textcol);

    --paragraphtext: 24pt;
    --headingtext: 36pt;
    --smalltext: 27pt;
    --mediumtext: 36pt;
    --largetext: 72pt;
  }

body {
    width: 90%;
    margin: auto;
    margin-top: 20%;
}

.image-block {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    align-content: center;
}

  .image-block div {
    width: 100%;
    margin: auto;
  }

  .image-block img {
    max-height: 70vh;
    max-width: 90vw;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

@media screen and (min-width: 1000px){
  :root {
    /* --bgcol: #444433; */
    --bgcol: #242526;
    --textcol: #cfccc6;
    --highlight:#d46c04;
    background: var(--bgcol);
    color: var(--textcol);

    --paragraphtext: 12pt;
    --headingtext: 16pt;
    --smalltext: 18pt;
    --mediumtext: 27pt;
    --largetext: 36pt;
  }


body {
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.image-block {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
    align-content: center;
}


  .image-block div {
    width: 70%;
  }

  .image-block img {
    max-width: 20vw;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}


.content {
    width: 90%;
    margin: auto;
    margin-top: 3%;
}

h1 {
    text-align: center;
    font-size: var(--largetext);
}

h2 {
    font-size: var(--mediumtext);
}

h3 {
    font-size: var(--smalltext);
}

p {
    font-size: var(--paragraphtext);
    width: 90%;
}

a {
    color: var(--highlight)
}

.darkmode {
    position: absolute; 
    top: 5%; 
    right: 5%; 
    font-size: var(--smalltext);
}
