@font-face {
  font-family: oswald;
  src: url(Oswald-Regular.ttf);
}

body
{
  font-family: sans-serif;
  font-weight: bold;
  background: #242526;
}

.canvas-container{
  color: #242526;
  text-align: center;
  padding: 10px;
  transition: 1000ms ease-in-out;
}

.canvas-container:hover{
  color: #cfccc6;
  transition: 300ms ease-in-out;
}

.buttons a{
  color: #cfccc6;
  text-decoration: none;
  border: 2pt solid #cfccc6;
  padding: 5pt;
  font-size: 18pt;
  display: inline-block;
  margin-top: 5%;
  margin: 1%;
  transition: 150ms ease-in-out;
}

.buttons a:hover{
  color: #d46c04;
  border: 2pt solid #d46c04;
  transform: scale(1.1);
  transition: 200ms ease-in-out;
}

.project
{
  display: inline-block;
  border: 3px solid #cfccc6;
  border-radius: 5px;
  color: #cfccc6;
  width: 300px;
  height:350px;
  vertical-align: middle;
  margin-left: 3%;
  margin-top: 3%;
  padding: 5px;
  transition: 150ms ease-in-out;
}

.project:hover{
  border: 4px solid #d46c04;
  transition: 200ms ease-in-out;
  padding: 4px;
}

.project img
{
  padding-bottom: 2%;
  width: 300px;
}

.project a{
  text-decoration: underline;
  color: #cfccc6;
  transition: 100ms ease-in-out;
}

.project a:hover{
  color: #d46c04;
  transition: 200ms ease-in-out;
}


.container
{
  display: inline-block;
  position: relative;
}

.half
{
  width: 49%;
}

.partial
{
  width: 70%;
}

.full
{
  width: 90%;
}

p{
    color: #cfccc6;
    margin: 5%;
    margin-top: 0;
    
}

.title
{
  position: absolute;
  margin-top: 10%;
  left:10%;
}

.subtitle
{
    margin-top: 10%;
    margin: 5%;
    margin-bottom: 2%;
}


.smiley
{
  display: inline-block;
  margin: None;
  padding: None;
  width: 0;
  font-size: 24pt;
  transform: rotate(90deg) translateY(70px) translateX(-40px);
  color: #cfccc6;
}

.big
{
  font-size: 81pt;
}

.medium
{
    font-size: 36pt;
}

.small
{
  font-size: 18pt;
}

.letter
{
  display: inline-block;
  margin: None;
  padding: None;
  color: #cfccc6;
  transition: 100ms ease-in-out;
}

.letter:hover
{
  color: #d46c04;
  transform: scale(1.2);
  transition: 200ms ease-in-out;
}

.r
{
  transform: translateX(-25px);
}

.r:hover
{
  transform: translateX(-25px) scale(1.2);
}

.l
{
  transform: none
}

.l:hover
{
  transform: scale(1.2)
}